/*botões de ação*/
div.stButton > button, 
div.stDownloadButton > button, 
div.stFormSubmitButton > button,
div[data-testid='stPopover'] > button,
button[kind='secondary'], 
button[kind='primary'] {
    background-color: #1476ff !important;
    color: #FFFFFF !important;
    border: 1px solid #1476ff !important;
    transition: all 0.3s ease !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
}

/*hover para os botões de ação*/
div.stButton > button:hover, 
div.stDownloadButton > button:hover, 
div.stFormSubmitButton > button:hover,
div[data-testid='stPopover'] > button:hover {
    background-color: #4592ff !important;
    border-color: #4592ff !important;
    color: #FFFFFF !important;
    box-shadow: 0 4px 8px rgba(20, 118, 255, 0.2) !important;
}

/*botões tabs*/
button[data-baseweb='tab'] {
    background-color: transparent !important;
    border: none !important;
    color: #262730 !important;
    padding: 10px 15px !important;
    transition: all 0.2s ease !important;
    font-family: 'Poppins', sans-serif !important;
}

/*botões tabs ao passar o mouse*/
button[data-baseweb='tab']:hover {
    color: #1476ff !important;
    background-color: rgba(20, 118, 255, 0.05) !important;
}

/*botões tabs selecionada*/
button[aria-selected='true'] {
    color: #1476ff !important;
    font-weight: 600 !important;
    border-bottom: 3px solid #1476ff !important;
}

/*limpeza das linhas padrão das tabs*/
div[data-baseweb='tab-list'] {
    gap: 15px !important;
    background-color: transparent !important;
    border-bottom: 1px solid #E7E7E8 !important;
}

div[data-baseweb='tab-highlight'], 
div[data-baseweb='tab-border'] {
    display: none !important;
}

/*botões sidebar*/
section[data-testid='stSidebar'] div.stButton > button {
    width: 100% !important;
}

/*cabeçalho de tabelas (st.dataframe e st.table)
thead {
    background-color: #DEE2E7 !important;
    font-family: 'Poppins', sans-serif !important;
    text-align: left !important;
}*/